{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row about">
          <img class="col-sm-4 img-responsive rounded-circle aboutimage" src="{{url_for('static', filename='unicorn.jpg')}}" width="460" height="345">
          <div class="col-sm-8 aboutkinsey">
            <p>This is some text that will be about Kinsey.</p>
            <p>This is another paragraph about Kinsey.</p>
            <p>Kinsey works at JC Penny's</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}