
{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block body %}

    <h1>Create an account</h1>

    <!-- Add validation messages later below -->
 <div class="formwrapper">
      <h2 class="title">Create an Account</h2>
      <form method="POST" action="{{ url_for('create') }}">
        {{ form.csrf_token }}
          <div class="form-field">{{ form.username.label }} {{ form.username(size=20) }}</div>
          <div class="form-field">{{ form.email.label }} {{ form.email }}</div>
          <div class="form-field">{{ form.bio.label }} {{ form.bio }}</div>
          {{ form.submit }}
      </form>
  </div>


    <h2>Users in the DB</h2>
    {% for user in users %}
    <ul>
            <li>{{ users.username }}</li>
            <li>{{ users.email }}</li>
            <li>{{ users.bio }}</li>
    </ul>
        {% else %}
            <h2>No users signed up yet :(</h2>
    {% endfor %}
    

{% endblock %}
