{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>Is it Kinsey's Birthday?</h1>

    <div class="jumbotron">
    	{% if birthday %}
    		<h1>YES! It is Kinsey's birthday!</h1>
    	{% else %}
    		<h1>NO :(</h1>
    	{% endif %}
    </div>

    {% if current_user.is_anonymous %}
    <h1>Hi! Welcome to Kinsey Pink! Click <a href="{{ url_for('login') }}">here</a> to sign up!</h1>  
    {% else %}
    <h1>Hi, {{ current_user.username }}! Welcome to Kinsey Pink!</h1>
    {% endif %}


    <div class="container-fluid">
    	<div class="form-group row">
	    		<div class="col-md-4">
    				<h2>Sign up for Birthday Reminder</h2>
    			</div>
    	</div>
    </div>	
    <form action="{{ url_for('index') }}" method="post">
    	<div class="container-fluid">
	    	<div class="form-group row">
	    		<div class="col-md-4">
	    			<input type="text" name="name" class="form-control" placeholder="Enter Your Name">
	    			<button class="btn btn-primary">Submit</button>
	    		</div>
	    	</div>
    	</div>
    </form>

{% endblock %}