
{% extends "base.html" %}

{% block title %}Leave a Message{% endblock %}

{% block body %}

    <h1>Leave a Message</h1>

<!--     <form action="{{ url_for('message') }}" method="post">
    	<div class="container-fluid">
	    	<div class="form-group row">
	    		<div class="col-md-4">
					<input class="form-control" name="name" placeholder="Your name">
            		<input class="form-control" name="note" placeholder="Leave a comment"><button class="btn btn-primary">Add Message</button>
	    	</div>
    	</div>
    </form> 
-->

    <!-- Add validation messages later below -->
    <div class="formwrapper">
  		<h2 class="title">Leave a Message</h2>
  		<form method="POST" action="{{ url_for('message') }}">
  			{{ form.csrf_token }}
      		<div class="form-field">{{ form.name.label }} {{ form.name(size=20) }}</div>
      		<div class="form-field">{{ form.note.label }} {{ form.note }}</div>
      		{{ form.submit }}
  		</form>
	</div>

    <h2>Comments for Kinsey</h2>
    {% for comment in comments %}
    <ul>
            <li>{{ comment.name }}</li>
            <li>{{ comment.note }}</li>
    </ul>
        {% else %}
            <h2>No comments yet :(</h2>
    {% endfor %}
    

{% endblock %}





