
{% extends "base.html" %}

{% block title %}Wish List{% endblock %}

{% block body %}
    <h1>Wish List</h1>
    <div class="jumbotron">
      <p>There will be a JQuery slide show here</p>
    </div>  
{% endblock %}