

.signup {
  color: #E75480;
}

body {
  background-color: #FFB6C1;
}

h1 {
  text-align: center;
  font-family: verdana;
  color: #E75480;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.aboutkinsey {
  text-align: left;
  color: #E75480;
}

.about {
	border-style: solid;
	border-width: 2px;
	border-color: #E75480;
}

.aboutimage {
	float: left;
}

.navbar {
	border-style: solid;
	border-width: 2px;
	border-color: #E75480;
}

#messages {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
}

.forms {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
}

.center {
  border-style: solid;
  border-width: 2px;
  border-color: E75480;
  padding: 10px;
}
